@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
    --font-s: 15px;
    --ff-400: 'Lexend Deca', sans-serif;
    --ff-700: 'Big Shoulders Display', sans-serif;
}
*,
*::before,
*,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1440px;
    min-height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    background: var(--Very-light-gray);
}
.container {
    display: flex;
  
}
p {
    color: var(--Very-light-gray);
    font-size: var(--font-s);
    font-family: var(--ff-400);
    font-weight: 400;
}
h1 {
    color: var(--Very-light-gray);
    font-family: var(--ff-700);
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 14px;
}
img {
    margin-top: 15px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 66%;
    height: 100vh;
    margin: auto;
    align-items: center;  
}

.card-1 {
    padding: 50px;
    background: var(--Bright-orange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-2 {
    background: var(--Dark-cyan);
    padding: 50px;
}
.card-3 {
    background: var(--Very-dark-cyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 50px;
}
button {
    background: var(--Very-light-gray);
    padding: 13px 48px;
    border: 2px solid var(--Very-light-gray);
    font-size: var(--font-s);
    font-family: var(--ff-400);
    border-radius: 40px;
    margin-top: 42px;
    text-transform: capitalize;
}
.btn-1 {
    color: var(--Bright-orange);
}
.btn-2 {
    color: var(--Dark-cyan);
}
.btn-3 {
    color: var(--Very-dark-cyan);
}
button:hover {
    background: transparent;
    border: 2px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
    cursor: pointer;
}

@media (max-width: 376px) {
  .cards{
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    place-items: center;
    }
}
